$branding       : #3498DB;
$brandingDark   : #154360;
$brandingLight  : #D6EAF8;

$textWhite      : #FFFFFF;
$textDarkGray   : #444444;

$lineWhite      : #FFFFFF;
$lineGray       : #CCCCCC;

$bgWhite        : #FFFFFF;
$bgGray         : #F7F9F9;