$branding       : #3498DB;
$brandingDark   : #154360;
$brandingLight  : #EBF5FB;

$textWhite      : #FFFFFF;
$textDarkGray   : #444444;

$lineWhite      : #FFFFFF;
$lineGray       : #CCCCCC;

$bgWhite        : #FFFFFF;
$bgGray         : #F7F9F9;

$warning        : #A93226;
$greenButton    : #27AE60;