$branding       : #3498DB;
$brandingDark   : darken($branding, 30%);
$brandingLight  : lighten($branding, 30%);

$textWhite      : #FFFFFF;
$textDarkGray   : #444444;

$lineWhite      : #FFFFFF;
$lineGray       : #CCCCCC;

$bgWhite        : #FFFFFF;
$bgGray         : #EAEDED;