@import "modules/all";

html, body{
  font-size: 14px;
  font-family: 'Proxima Nova';
  font-weight: 400;
  margin: 0px;
  padding: 0px;
  border: none;
}

#main-container{
  margin: 0px;
  padding: 0px;
  #panel-left{
    background-color: $branding;
    color: $textWhite;
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 25%;
    background: linear-gradient(
        rgba($branding, 0.5), 
        rgba($branding, 0.5)
      ),url(http://lorempixel.com/g/400/1024/abstract/2);
    background-size: cover;
    .panel-header{
      width: 100%;
      height: 100px;
      #close-menu-button{
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        @media(min-width: 768px){
          display: none;
        }
      }
    }
    .menu-item{
      width: 100%;
      height: 50px;
      padding: 15px 5px 15px 15px;
      font-size: 18px;
      border-top: 1px solid $brandingLight;
      cursor: pointer;
      .menu-icon{
        display: inline-block;
        float: left;
        width: 30px;
        margin-right: 5px;
        line-height: 20px;
      }
      .menu-text{
        position: absolute;
        margin-left: 35px;
        line-height: 20px;
      }
      .menu-arrow{
        display: inline-block;
        float: right;
        width: 30px;
        i{
          line-height: 20px;
        }
      }
      &:hover{
        background-color: $brandingDark;
      }
      &.menu-bottom{
        position: absolute;
        left: 0px;
        bottom: 0px;
      }
      &.line-bottom{
        border-bottom: 1px solid $brandingLight;
      }
    }
  }
  #panel-main{
    background-color: $bgWhite;
    color: $textDarkGray;
    min-height: 100vh;
    #hamburger-menu-button{
      position: fixed;
      z-index: 900;
      color: $brandingDark;
      font-size: 24px;
      line-height: 30px;
      margin-top: 10px;
      margin-left: 10px;
      cursor: pointer;
    }
    @media(min-width: 768px){
      display: none;
    }
  }
  @media(max-width: 767px){
    #panel-left{
      width: 75%;
      margin-left: -75%;
    }
    #panel-main{
      width: 100%;
    }
  }
  @media(min-width: 768px){
    #panel-main{
      width: 75%;
      margin-left: 25%;
    }
  }
}